/* aidiciona uma configuração global com o (*) */
html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* body é relativo ao corpo do site */
body{
    background-color: rgb(43, 7, 77);
    color:white;
}
header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}
section{
    margin: 60px 0;
}

footer{
    padding: 20px 0;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 36px;
    padding: 20px 0;
}
h2{
    font-size: 24px;
    padding: 20px 0;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
/* classes e ids */
/* whats */
.whats{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.whats img{
    width: 80px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-navbar ul{
    height: 100%;
}
.header-navbar ul li{
    margin: 0 10px 0 10px;
    text-transform: uppercase;
    list-style: none;
}
.header-navbar ul li a:hover{
    color: gold;
}
.header-social-media ul{
    height: 100%;
}
.header-social-media ul li{
    margin: 0 10px 0 10px;
    list-style: none;
}
.header-social-media ul li a:hover{
    color: gold;
}
#header-logo img{
    width:  80px;
    height: 60px;
  
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10 px 0 10px 0;
}
@media screen and (max-width: 800px) {
    body{
        background-color: blue;
    }
}
@media screen and (max-widht: 600px) {
    body {
        background-color: red;
    }
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imagem-sobre{
    width: 20%;
}
#imagem-sobre img{
    width: 100%;
}
#sobre{
    width: 60%;
    padding-left: 20px;
}
/* galeria de fotos */
.gallery{
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-card{
    width: 30%;
    height: 400px;
    border: 1px solid gray;
    flex-direction: column;
    margin-bottom: 20px;

}
.gallery-card-btn{
    padding: 10px 15px;
    border: 2px solid black;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.5);
    transition: .6s;
}
.gallery-card-btn:hover{
    background-color: white;
}
.gallery-img{
    background-size: 100%;
    background-position: center;
    background-color: gray;
    background-blend-mode: multiply;
    transition: .6s;
}
.gallery-img:hover{
    background-size: 120%;
    background-color: white;
    background-blend-mode: multiply;
}
#card-1{
    background-image: url(../images/barber.jpg);
}
#card-2{
    background-image: url(../images/clinica.jpg);
}
#card-3{
    background-image: url(../images/pizza.jpg);
}
/* contato */
.dados-pessoais{
    list-style: none;
}
#dados-contato{
    width: 45%;
}
#form{
    width: 45%;
}
.btn-submit{
    background-color: blue;
    color: white;
    width: 250px;

}
.btn-submit:hover{
    background-color: blue;
}
.form-group{
    padding: 5px 0;
}
