/* elemento coringa, todos os elementos serão influenciados nessa classe (*) */
*{ 
    padding: 20px;
}


body{
     background: rgb(204, 200, 200);
}
/* ao invés de gastar tanta linha de código desta forma, eu posso unir as duas num só setor */
/*h1{
    text-align: center;
    color: rgb(224, 6, 6);
}
p{  
    text-align: center;
    color: rgb(224, 6, 6);
}*/

/*deste jeito*/

h1, p{
    text-align: center;
    color: rgb(224, 6, 6);;
}
.center{
    text-align: center;
}
.vermelho{
    color: red;
}
.black{
    color: black;
}
.font-30{
    font-size: 30px;
}
#teste{
    color: rgb(4, 34, 34);
    font-size: 25px;
    text-align: left;
}